/*
fonts
font-family: 'Oswald', sans-serif;
300-700
font-family: 'Thasadith', sans-serif;


colors
yellow #FAA61A
maroon #96394E
pink #DC3C86
purple #957D94
blue #009C86
navy #05354B
*/



header {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	margin-bottom: 10rem;
}

.logo {
	grid-column: 1 / span 2;
	grid-row: 1;
	background-color: rgba(0, 156, 134, .5);
	height: 8rem;
}

.logo img {
	width: 20%;
	padding: 1rem;
	justify-self: center;
	align-self: cetner;
}

.prototype {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	align-self: cetner;
	padding-bottom: 5rem;
	overflow: hidden;
}

.prototype img {
	height: 45rem;
}

header h1 {
	grid-column: 2;
	grid-row: 2;
	justify-self: start;
	align-self: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}


@media only screen and (max-width: 64rem) {

	body {
		margin: 0;
	}

	header {
		display: grid;
		grid-template-rows: 1fr 4fr 1fr;
		grid-template-columns: 1fr;
	}

	header h1 {
		grid-column: 1;
		grid-row: 3;
		justify-self: center;
	}

	.prototype {
		justify-self: center;
	}

}